.body{

  background-image: url("img/dune.jpg");
  
  background-size: cover;
  background-position: center;
  color: white;
  max-width: auto;
  min-height: 100vh;
  scale: 16/9;
}




.header{

  display:block;
  max-width: 100%;
  margin-left: 1px;
  
  margin-top: 1px;
 
}

.chapter-image{


  width: 15%;
  aspect-ratio: 16/9;
}

.logo{

  width: 15%;
  aspect-ratio: 16/9;
  
}

.dropbtn {
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 15%;
  color: aqua;
  padding: 2px;
  font-size: 40px;
  width: 50px;
  border: none;
  transition: background-color 1s;
  
  
}

.dropdown {
  position: relative;
  display: inline-block;
  
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: ease-in-out;
  
}

.dropdown-content a {
  color: aqua;
  padding: 12px 16px;
  padding-bottom: 20px;
  text-decoration: none;
  display: block;
  background-color: black;
  transition: ease-in-out;
  
}

.dropdown:hover .dropbtn {
  
  background-color: black;

}

.dropdown:hover .dropdown-content{

  display: block;
}



.news{

  
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}



.link{

  color: aqua;
}

.content{


  
  margin-top: 50px;
  display: inline-block;
  color: aqua;
  font-family: Orbitron;
  font-size: 30px;
  width: 99%;
  
  
  
  line-height: 59px;
  
  
  
  
  
  
  background-color: rgba(0, 0, 0, 0.377);

}

.news{

  width: 100%;
}



.video-suggestions{

  
  margin-top: 60px;
  margin-left: 220px;
  aspect-ratio: 16/9;
  width: 70%;
  
  display:flexbox;
  display: inline-block;
  flex-wrap: wrap;
  padding-left: 10px;
  
 
  font-family: Orbitron;
  font-size: 14px;
  

}

.video{

  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.377);

}




.responsive-iframe {
  
  
  aspect-ratio: 16/9;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  
}





@media screen and (max-width:800px){


  .body{

    
    background-position: center;
    
  }
 

  .header{

    display: flexbox;
    margin-left: 1px;
    margin-top: 1px;
   
  }

  .logo{

    width: 50%;
  }

  

  .menu-bar{


    display: block;
    
    
    width: 100%;
  
    margin-left: 1px;
    margin-top: 10px;
  
    
  }

  .button-menu{

  
    box-sizing: content-box;
    margin-right: 1px;
    background-color: black;
    color: aqua;
    border-radius: 25px;
    font-family: Orbitron;
    font-size: 30px;
    width: 80%;
    transition: background-color 1s;
    
  }

 

  

  .content{

    font-size: 30px;
  }

  .video-suggestions{

  
    margin-top: 10px;
    margin-left: 10px;
    
    
    display: flexbox;
    display: inline-block;
    flex-wrap: wrap;
    padding-left: 1px;
    
   
    font-family: Orbitron;
    font-size: 14px;
    aspect-ratio: 16/9;
    width: 100%;
    
  
  }

  .responsive-iframe1 {
  
    aspect-ratio: 16/9;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    
  }

  .news{

    scale: 16/9;
    width: 100%;
  }

 

 



}
 









