.body{

  background-image: url("img/dune.jpg");
  
  background-size: cover;
  background-position: center;
  color: white;
  max-width: fit-content;
  min-height: 100vh;
  scale: 16/9;
}




.header{

  display:block;
  max-width: 100%;
  margin-left: 1px;
  
  margin-top: 1px;
 
  
  

}

.logo{

  width: 15%;
  aspect-ratio: 16/9;
  
}



.menu-bar{


  float: left;
  display: block;
  width: 100%;
  
  
  
  
  margin-left: 1px;
  margin-top: 50px;
  
  

  
}

.button-menu{

  
  box-sizing: content-box;
  margin-right: 10px;
  background-color: rgba(255, 166, 0, 0.068);
  border-color: rgba(255, 166, 0, 0.041);
  color: aqua;
  border-radius: 25px;
  font-family: Orbitron;
  font-size: 40px;
  transition: background-color 1s;
  width:300px;
  margin-bottom: 20px;
  
}



.button-menu:hover{

  background-color: rgb(255, 145, 72);
  border-color: aqua;
  border-width: 2px;
  

}

.news{

  margin-top: 20px;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.music{

  font-family: Orbitron;
  color: aqua;
  position: absolute;
  top: 10px;
  right: 0px;
  vertical-align: top;
}

.link{

  color: aqua;
}

.content{


  
  
  display: inline-block;
  color: aqua;
  font-family: Orbitron;
  font-size: 20px;
  width: 100%;
  
  line-height: 30px;
  margin-top: 30px;
  
  
  
  padding-left: 10px;
  
  background-color: rgba(0, 0, 0, 0.377);

}



.video-suggestions{

  
  margin-top: 60px;
  margin-left: 220px;
  aspect-ratio: 16/9;
  width: 70%;
  
  display:flexbox;
  display: inline-block;
  flex-wrap: wrap;
  padding-left: 10px;
  
 
  font-family: Orbitron;
  font-size: 14px;
  

}

.video{

  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.377);

}




.responsive-iframe {
  
  
  aspect-ratio: 16/9;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  
}





@media screen and (max-width:800px){


  .body{

    
    background-position: center;
    
  }
 

  .header{

    display: flexbox;
    margin-left: 1px;
    margin-top: 1px;
   
  }

  .logo{

    width: 50%;
  }

  

  .menu-bar{


    display: block;
    
    
    width: 100%;
  
    margin-left: 1px;
    margin-top: 10px;
  
    
  }

  .button-menu{

  
    box-sizing: content-box;
    margin-right: 1px;
    background-color: black;
    color: aqua;
    border-radius: 25px;
    font-family: Orbitron;
    font-size: 50px;
    width: 400px;
    transition: background-color 1s;
    
  }

  .content{


  
  
    display: inline-block;
    color: aqua;
    font-family: Orbitron;
    
    font-size: 10px;
    margin-left: 1px;
    margin-right: 1px;
    
    line-height: 12px;
    margin-top: 10px;
    
    
    
    padding-left: 10px;
    
    background-color: rgba(0, 0, 0, 0.377);
  
  }

  .about{

    font-size: 20px;
  }

  .video-suggestions{

  
    margin-top: 10px;
    margin-left: 54px;
    
    
    display: flexbox;
    display: inline-block;
    flex-wrap: wrap;
    padding-left: 10px;
    
   
    font-family: Orbitron;
    font-size: 14px;
    
  
  }

  .responsive-iframe1 {
  
    aspect-ratio: 16/9;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    
  }



 



}





